.dashboard-area{
    padding: 50px;
}
.order-card{
    text-align: center;
}
.form-container{
    max-width: 600px;
    box-shadow: 0 10px 30px gray;
border-radius: 10px;
    margin: 10px auto;
    padding: 10px;
}
form{
    display: flex;
    margin: 0 auto;
    padding: 10px;
    flex-direction: column;
 
    max-width: 600px;
}
input,textarea{
border: 1px solid teal;
border-radius: 5px;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
}
select{
    width: 80px;
}